header {
    height: auto;
    border-bottom: ##d4a373;
}

button {
    font-size: 14px;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fefae0;
    margin:10px;
}

button:hover {
    background-color: #d4a373;
}

.inline-block {
    display:inline-block;
    vertical-align: top;
    padding: 20px;
}

.logo {
    display:inline-block;
    text-align: center;
    float: left;
    height: 100px;
    border-bottom: ##d4a373;
}

nav {
    float: right;
    width: 73%;
    padding: 1%;
    padding-left: 50%;
}

ul {
    width: 30%;
    margin-left: auto;
}

.heroImage {
    height:600px;
    padding:100px;
    margin:20px;
}

.content {
    width: 500px;
    margin: 50px auto;
    margin-bottom: 50px;
    background-color: #faedcd;
    padding: 100px;
    text-align: center;
}

.content button {
    text-align:right;
    float: right;
}

.mySkills {
    padding: 50px;
}

.skillz{

}

.flexContainer {
    display: flex;
    padding-top: 0;
    padding-left: 200px;
    padding-right: 200px;
}

.flexContainer div {
    width: 33%;
    margin: auto;
    text-align: center;
}

.myWork {
    text-align: center;
}

.workGrid {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    gap: 100px;
    width: 50%;
    text-align:center;
    justify-content: space-around;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 100px;
}

.project img {
    width: 600px;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align:left;
    padding: 20px;
    margin: 20px;

}

.project button {
    background-color: #e9edc9;
}

.project button:hover {
    background-color: #ccd5ae;
}

footer {
    background-color: #d4a373;
	text-align: center;
    padding: 20px;
    margin-top: 10px;
    list-style-type: none;
    width: 100%;
}

footer ul {
    display: inline-block;
    padding: 20px;
    vertical-align: top;

}

@media only screen and (max-width: 600px) {
    .flexContainer {
        display: table-column;
        padding-top: 0;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .flexContainer div {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .project {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 20px;
    
    }
    
  }

